<form nz-form [formGroup]="loanTypeForm" (ngSubmit)="addFormSubmit()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Loan Type</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="Loan Type is required!">
            <nz-select nzShowSearch nzAllowClear formControlName="loanTypeId" nzPlaceHolder="Add Loan Type">
                <nz-option *ngFor="let item of loanTypeList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzTooltipTitle="Minimum Loan Amount">Min Amount</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnBefore="{{selectedCountry?.currencyCode}}" style="width: 100%">
                <nz-input-number [nzStep]="500" formControlName="minimumLoanAmount" placeholder="0.00">
                </nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzTooltipTitle="Maximum Loan Amount">Max Limit</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnBefore="{{selectedCountry?.currencyCode}}" style="width: 100%">
                <nz-input-number [nzStep]="500" formControlName="maximumLoanAmount" placeholder="0.00">
                </nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzTooltipTitle="Maximum Loan Amount for return customer">Return
            Limit</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnBefore="{{selectedCountry?.currencyCode}}" style="width: 100%">
                <nz-input-number [nzStep]="500" formControlName="returnCustomerAmount" placeholder="0.00">
                </nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzTooltipTitle="Average Interest Rate">Average Interest</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnAfter="%" style="width: 100%">
                <nz-input-number [nzStep]="5" formControlName="averageInterestRate"></nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzTooltipTitle="Average Loan Tenor">Avg. Loan Tenor</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnAfter="Month(s)" style="width: 100%">
                <nz-input-number [nzStep]="5" formControlName="averageLoanTenor"></nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzTooltipTitle="Turn Around Time (In Minutes)">TAT (In Minutes)
        </nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group nzAddOnAfter="Minute(s)" style="width: 100%">
                <nz-input-number [nzStep]="5" formControlName="turnAroundTimeInMinute"></nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Moratorium Period</nz-form-label>
        <nz-form-control [nzSm]="13" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
            <nz-input-number-group style="width: 100%">
                <nz-input-number [nzStep]="5" formControlName="moratoriumPeriod"></nz-input-number>
            </nz-input-number-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Repayment TimeFrame</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="This is required!">
            <input nz-input formControlName="repaymentTimeFrame" placeholder="please enter value" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Requirements</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="This is required!">
            <input nz-input formControlName="requirements" placeholder="please enter value" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Loan Security</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="This is required!">
            <nz-select nzMode="tags" formControlName="security" nzPlaceHolder="Select Security(s)">
                <nz-option *ngFor="let item of loanSecurityEnum | enumToArray" [nzValue]="item.name"
                    [nzLabel]="item.name"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [nzLoading]="loading">Save</button>
        </nz-form-control>
    </nz-form-item>

</form>
