<nz-page-header class="site-page-header" nzTitle="Reset Password">
	<nz-page-header-extra>
		<img src="assets/img/logo.png" alt="CreditFrames" />
	</nz-page-header-extra>
</nz-page-header>

<form nz-form [formGroup]="passwordResetForm" class="login-form" (ngSubmit)="submitPasswordReset()">
	<nz-form-item>
		<nz-form-control nzErrorTip="Enter Your New Password">
			<nz-input-group nzPrefixIcon="lock">
				<input type="password" nz-input formControlName="newPassword" placeholder="Enter New Password" />
			</nz-input-group>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-control nzErrorTip="Confirm Your Password">
			<nz-input-group nzPrefixIcon="lock">
				<input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm New Password" />
			</nz-input-group>
		</nz-form-control>
	</nz-form-item>

	<div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
			<button type="submit" nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
				[nzLoading]="loading">Reset Password</button>
        </div>
		<div nz-col [nzSpan]="12">
			<a [routerLink]="['/login']" class="login-form-forgot">Goto Login</a>
		</div>
	</div>
</form>