<form nz-form [formGroup]="requestForm" (ngSubmit)="submitForm()">

  <div nz-row>
    <div nz-col nzSpan="14">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lenderName">Lender Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="This field is required">
          <input nz-input formControlName="lenderName" id="lenderName" placeholder="please enter lender's name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="website">Website</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="Invalid web URL">
          <input nz-input formControlName="website" id="website" placeholder="please enter website url" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="Loan Application Form Url">Application Url</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="Invalid web URL">
          <input nz-input formControlName="loanApplicationUrl" placeholder="Application Form Url" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="This is not valid a E-mail!">
          <input nz-input formControlName="emailAddress" id="email" placeholder="Enter email address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phoneNumber" nzTooltipTitle="With International Code">
          Phone Number
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="Not a valid phone number!">
          <input nz-input id="phoneNumber" formControlName="phoneNumber" placeholder="Enter phone number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="countryId">Country</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error.">
          <nz-select nzShowSearch nzAllowClear formControlName="countryId" id="countryId"
            nzPlaceHolder="Select A Country" (change)="changeCountry($event)">
            <nz-option *ngFor="let item of countryList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="stateId">State</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error.">
          <nz-select nzShowSearch nzAllowClear formControlName="stateId" id="stateId"
            nzPlaceHolder="Select State/Region">
            <nz-option *ngFor="let item of stateList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24">Has Web App</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="hasWebApp"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24">Has Mobile App</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="hasMobileApp"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzTooltipTitle="Turn this on to acivate API">API Activated</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="apiActivated"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24">Enable / Disable</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-switch formControlName="isActive"></nz-switch>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div nz-col nzSpan="10">
      
    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-item>
          <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" nzAccept="image/*"
            [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
            <ng-container *ngIf="!logoUrl">
              <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
              <div class="ant-upload-text">Upload Logo</div>
            </ng-container>
            <img *ngIf="logoUrl" [src]="logoUrl" style="width: 100%" />
          </nz-upload>
        </nz-form-item>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="d-block ">Average Rating:</div>
        <nz-form-item>
          <nz-form-control>
            <nz-rate formControlName="averageRating"></nz-rate>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

      <div class="d-block">Description:</div>
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback nzErrorTip="This field has an error">
          <nz-textarea-count [nzMaxCharacterCount]="1000">
            <textarea rows="4" formControlName="description" nz-input></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <div class="d-block">Loan Features:</div>
      <nz-form-item>
        <nz-form-control>
          <nz-select nzMode="tags" formControlName="lenderFeatures" nzPlaceHolder="Add Loan Features">
            <nz-option *ngFor="let option of loanFeatureList" [nzLabel]="option.name" [nzValue]="option.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- {{requestForm.get('lenderFeatures').value | json}} -->

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="facebook">Facebook URL</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a valid Facebook URL">
          <nz-input-group nzAddOnBeforeIcon="facebook" style="width: 100%">
            <input formControlName="facebookUrl" id="facebook" nz-input class="ant-input"
              placeholder="https://facebook.com/username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="twitter">Twitter URL</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a valid Twitter URL">
          <nz-input-group nzAddOnBeforeIcon="twitter" style="width: 100%">
            <input formControlName="twitterUrl" id="twitter" nz-input class="ant-input"
              placeholder="https://twitter.com/username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="instagram">Instagram URL</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a valid Instagram URL">
          <nz-input-group nzAddOnBeforeIcon="instagram" style="width: 100%">
            <input formControlName="instagramUrl" id="instagram" nz-input class="ant-input"
              placeholder="https://instagram.com/username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="linkedin">LinkedIn URL</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzHasFeedback nzErrorTip="Please enter a valid LinkedIn URL">
          <nz-input-group nzAddOnBeforeIcon="linkedin" style="width: 100%">
            <input formControlName="linkedinUrl" id="linkedin" nz-input class="ant-input"
              placeholder="https://linkedin.com/in/username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>

  <nz-divider nzText="Loan Types" nzOrientation="left"></nz-divider>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-table #loanTypeTable [nzData]="lenderLoanTypes" nzTableLayout="fixed">
        <thead>
          <tr>
            <th nzWidth="60px">+</th>
            <th>Loan Type</th>
            <th nowrap>Min / Max Amount</th>
            <th>Interest</th>
            <th>Tenor</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of lenderLoanTypes">
            <tr>
              <td [nzExpand]="expandSet.has(item)" (nzExpandChange)="onExpandChange(item, $event)"></td>
              <td>{{item.loanTypeName}}</td>
              <td>{{(item.minimumLoanAmount || 0) | currency: selectedCountry?.currencyCode: '&#8358;'}} /
                {{(item.maximumLoanAmount || 0) | currency: selectedCountry?.currencyCode: '&#8358;'}}</td>
              <td>{{item.minimumInterestRate}}% - {{item.maximumInterestRate}}%</td>
              <td>{{item.minimumLoanTenor}} Month(s) - {{item.maximumLoanTenor}} Month(s)</td>
              <td>
                <button type="button" nz-button nzType="primary" (click)="openLoanTypeForm(item)"
                  nzTooltipTitle="Update" nz-tooltip> <i nz-icon nzType="form"></i> </button>
                <nz-divider nzType="vertical"></nz-divider>

                <button type="button" nz-button nzDanger nzType="primary" nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to delete this item: {{item?.loanTypeName}}?"
                  (nzOnConfirm)="removeLoanType(item)" nzTooltipTitle="Delete" nz-tooltip [nzLoading]="loading"> <i
                    nz-icon nzType="delete"></i> </button>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(item)" class="transparent">
              <nz-descriptions nzBordered nzSize="small" nzLayout="vertical">
                <nz-descriptions-item nzTitle="Return Customer Amount">{{item.returnCustomerAmount}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Repayment TimeFrame">{{item.repaymentTimeFrame}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Moratorium Period">{{item.moratoriumPeriod}} Month(s)</nz-descriptions-item>
                <nz-descriptions-item nzTitle="TurnAround Time">{{item.turnAroundTimeInMinute}} Minutes
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Security">{{item.security}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Requirements">{{item.requirements}}</nz-descriptions-item>
              </nz-descriptions>
            </tr>
          </ng-container>
          <tr>
            <td colspan="6">
              <button class="pull-right" type="button" nz-button nzType="primary" (click)="openLoanTypeForm()"
                nzTooltipTitle="Add Loan Type" nz-tooltip> <i nz-icon nzType="plus"></i> Add Loan Type</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <br />
      <nz-form-item nz-row class="register-area">
        <button type="submit" nz-button nzType="primary" [nzLoading]="loading" style="margin-right: 50px">Submit</button> 
        <button type="button" nz-button nzType="primary" class="btn-dark" [routerLink]="['/lenders']">Go Back</button> 
      </nz-form-item>
    </div>
  </div>

</form>