<nz-page-header class="site-page-header" nzTitle="States" nzSubtitle="Setup a state">
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="openForm()">Add New State</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="search()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="user">
                <input [(ngModel)]="pageQuery.searchKeyword" nz-input class="ant-input"
                  placeholder="Search by name" [ngModelOptions]="{standalone: true}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary"><i nz-icon nzType="search"></i> Search</button>
            </nz-form-control> &nbsp;
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-page-header-content>

</nz-page-header>


<div class="send-request">
  <button nz-button nz-dropdown [nzDropdownMenu]="menu" [disabled]="setOfCheckedId.size === 0">
    Action...
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <a (click)="deleteMany()" ngbDropdownItem>Delete</a>
      </li>
    </ul>
  </nz-dropdown-menu>

  <span>Selected {{ setOfCheckedId.size }} items</span>
</div>


<nz-table #borderedTable nzBordered #rowSelectionTable [nzData]="dataList" [nzLoading]="loading">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Nme</th>
        <th>Code</th>
        <th title="Last Editor">Editor</th>
        <th>Date</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList; let i = index;">
        <td>{{i + 1}}</td>
        <td nowrap>{{ data.name }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.lastModifiedBy || data.createdBy }}</td>
        <td nowrap>{{ data.lastModifiedDate || data.createdDate | date: 'd-MMM-yyyy h:mm a' }}</td>
        <td nowrap>
          &nbsp;
          <button nz-button nzType="primary" (click)="openForm(data)" nzTooltipTitle="Edit" nz-tooltip> <i nz-icon nzType="form"></i> </button> &nbsp;
          <button nz-button nzDanger nzType="primary" nz-popconfirm
            nzPopconfirmTitle="Are you sure you want to delete this state: {{data?.name}}?" (nzOnConfirm)="delete(data)"
            nzTooltipTitle="Delete" nz-tooltip [nzLoading]="loading"> <i nz-icon nzType="delete"></i> </button>
        </td>
      </tr>
    </tbody>
  </nz-table>