<form nz-form [formGroup]="requestForm" (ngSubmit)="onFormSubmit()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required!">
            <input nz-input formControlName="title" placeholder="please enter plan title" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Amount </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter Amount!">
            <nz-input-number formControlName="amount" placeholder="Enter Amount" [nzMin]="0" [nzStep]="10"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>No of Consultation</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="No of Consultation is required!">
            <nz-input-number formControlName="noOfConsultation" placeholder="Enter no of consultation" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Duration (In Month)</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a duration!">
            <nz-input-number formControlName="durationInMonth" placeholder="Enter Duration" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <label nz-checkbox formControlName="isActive">
            <span>Is Active</span>
        </label>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [nzLoading]="loading">Submit</button>
        </nz-form-control>
    </nz-form-item>

</form>