<nz-page-header class="site-page-header" nzTitle="Payment History" nzSubtitle="Track payments and reconciliation">
  <nz-page-header-extra>
    <button nz-button nzType="danger" nz-popconfirm [nzLoading]="loading"
      nzPopconfirmTitle="Are you sure you want to clear all abandoned payment?" (nzOnConfirm)="clearAbandonedPayments()"
      nzTooltipTitle="This action will remove all the payments that was not completed by the customer" nz-tooltip
      [nzLoading]="loading">
      <i nz-icon nzType="issues-close" nzTheme="outline"></i>
      Clear Abandoned Payments
    </button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="search()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="10">
          <nz-form-item>
            <nz-form-control nzErrorTip="Enter your search keyword">
              <nz-input-group nzPrefixIcon="user">
                <input [(ngModel)]="pageQuery.searchKeyword" nz-input class="ant-input"
                  placeholder="Search by name, phone number or reference" [ngModelOptions]="{standalone: true}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control nzErrorTip="Select your search date">
              <nz-range-picker [nzRanges]="dateRange" ngModel [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onDateChange($event)"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary"><i nz-icon nzType="search"></i> Search</button>
            </nz-form-control> &nbsp;
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-page-header-content>

  <nz-page-header-content>
    <button type="button" nz-button nz-dropdown [nzDropdownMenu]="menu2">
      <i nz-icon nzType="download"></i>
      Generate Report
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="download('csv', 'report')" ngbDropdownItem>CSV</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('excel', 'report')" ngbDropdownItem>Excel</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('json', 'report')" ngbDropdownItem>JSON</a>
        </li>
      </ul>
    </nz-dropdown-menu> &nbsp; 
    
    <button type="button" nz-button nzDanger nz-dropdown [nzDropdownMenu]="menu1">
      <i nz-icon nzType="download"></i>
      Export Summary
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="download('csv', 'summary')" ngbDropdownItem>CSV</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('excel', 'summary')" ngbDropdownItem>Excel</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('json', 'summary')" ngbDropdownItem>JSON</a>
        </li>
      </ul>
    </nz-dropdown-menu> &nbsp;
    <button nz-button nz-dropdown [nzDropdownMenu]="menu0">
      <i nz-icon nzType="download"></i>
      Download All
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu0="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="download('csv')" ngbDropdownItem>CSV</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('excel')" ngbDropdownItem>Excel</a>
        </li>
        <li nz-menu-item>
          <a (click)="download('json')" ngbDropdownItem>JSON</a>
        </li>
      </ul>
    </nz-dropdown-menu>

  </nz-page-header-content>
</nz-page-header>

<div class="send-request">
  <button nz-button nzType="primary" [disabled]="setOfCheckedId.size === 0" [nzLoading]="loading"
    (click)="sendRequest()">
    Action...
  </button>
  <span>Selected {{ setOfCheckedId.size }} items</span>
</div>

<nz-table #borderedTable nzBordered #rowSelectionTable nzShowPagination [nzData]="dataList" [nzLoading]="loading"
  nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="pagination?.totalCount" [nzPageSize]="pageQuery?.pageSize"
  [nzPageIndex]="pagination?.currentPage || pageQuery.pageNumber" (nzQueryParams)="pageChanged($event)">
  <thead>
    <tr>
      <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>Date</th>
      <th nowrap>Phone Number</th>
      <th>Plan</th>
      <th nowrap>Amount</th>
      <th nowrap>Reference</th>
      <th>Channel</th>
      <th>Status</th>
      <th>...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList" [ngClass]="{'red': !data.isCompleted}">
      <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td nowrap>{{ (data.paymentDate || data.createdDate) | date: 'd-MMM-yyyy h:mm a' }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.paymentPlanTitle || 'N/A' }}</td>
      <td>{{ data.amount | currency: (data.currency || '&#8358;') }}</td>
      <td>{{ data.referenceNumber }}</td>
      <td>{{ data.paymentGateway }} - {{ data.paymentChannel || data.paymentType }}</td>
      <td>
        <nz-tag [nzColor]="data.isCompleted ? '#87d068' : '#f50'">{{ data.isCompleted ? 'Paid' : (data?.status || 'pending') | titlecase }}</nz-tag>
      </td>
      <td>
        <button nz-button nzType="primary" (click)="showDetails(data)" nzTooltipTitle="Show Details"
          [nzTooltipPlacement]="['topLeft', 'leftTop']" nz-tooltip> <i nz-icon nzType="eye"></i> </button> &nbsp;
        <button *ngIf="!data?.isCompleted && !data?.status" nz-button nzDanger nzType="primary" nz-popconfirm
          nzPopconfirmTitle="Are you sure you want to verify this payment?" (nzOnConfirm)="verifyPayment(data)"
          nzTooltipTitle="Verify Payment" nz-tooltip [nzLoading]="loading"> Verify </button>
      </td>
    </tr>
  </tbody>
</nz-table>