<ng-container [ngSwitch]="loanStatus">
    <nz-tag class="waiting" *ngSwitchCase="'Pending'">Pending</nz-tag>
    <nz-tag class="danger" *ngSwitchCase="'NotEligible'">Not Eligible</nz-tag>
    <nz-tag class="waiting" *ngSwitchCase="'PendingCreditCheck'">Awaiting Credit Check</nz-tag>
    <nz-tag class="waiting" *ngSwitchCase="'AwaitingDocumentation'">Awaiting Documentation</nz-tag>
    <nz-tag class="waiting" *ngSwitchCase="'PendingVerification'">Pending Verification</nz-tag>
    <nz-tag class="waiting" *ngSwitchCase="'AwaitingApproval'">Awaiting Approval</nz-tag>
    <nz-tag class="completed" *ngSwitchCase="'Approved'">Approved</nz-tag>
    <nz-tag class="completed" *ngSwitchCase="'Disbursed'">Disbursed</nz-tag>
    <nz-tag class="completed" *ngSwitchCase="'RepaymentOngoing'">Repayment Ongoing</nz-tag>
    <nz-tag class="default" *ngSwitchCase="'CompleteRepayment'">Complete Repayment</nz-tag>
    <nz-tag class="danger" *ngSwitchCase="'Cancelled'">Cancelled</nz-tag>
    <nz-tag class="danger" *ngSwitchCase="'Rejected'">Rejected</nz-tag>
    <nz-tag class="default" *ngSwitchDefault>Unknow</nz-tag>
</ng-container>