<ng-container>
    <nz-tabset (nzSelectedIndexChange)="tabChanged($event)">
        <nz-tab [nzTitle]="tabTpl1">
            <ng-template #tabTpl1>
                <i nz-icon nzType="user-add"></i>
                Personal Details
            </ng-template>

            <p class="title" style=" margin-bottom: 24px;">User Info: <strong>{{data?.phoneNumber}}</strong></p>
            <nz-descriptions [nzColumn]="2" nzTitle="Personal">
                <nz-descriptions-item nzTitle="Full Name" [nzSpan]="1">{{data?.firstName ? data?.firstName + ' ' +
                    data?.lastName : 'N/A'}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">{{data.phoneNumber}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Email" [nzSpan]="1">{{data?.emailAddress || 'N/A'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Gender" [nzSpan]="1">{{data?.gender ? data?.gender : 'N/A'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Birthday / Age" [nzSpan]="1">{{data?.dateOfBirth ? (data?.dateOfBirth |
                    date: 'd-MMM-yyyy') : 'N/A'}} &nbsp; ({{data?.age || 0}} years)</nz-descriptions-item>
                <!-- <nz-descriptions-item nzTitle="Current Loan" [nzSpan]="1">{{data?.currentLoan}}
                </nz-descriptions-item> -->
            </nz-descriptions>
            <nz-divider></nz-divider>
        </nz-tab>

        <nz-tab [nzTitle]="tabTpl2">
            <ng-template #tabTpl2>
                <i nz-icon nzType="credit-card"></i>
                Loan History
            </ng-template>

            <nz-table #borderedTable nzBordered #rowSelectionTable nzShowPagination [nzData]="loanHistory"
                [nzLoading]="loading" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="pagination?.totalCount"
                [nzPageSize]="pageQuery?.pageSize" [nzPageIndex]="pagination?.currentPage || pageQuery.pageNumber"
                (nzQueryParams)="pageChanged($event)" [nzScroll]="{ x: '1100px' }">
                <thead>
                    <tr>
                        <th nowrap>S/N</th>
                        <th>Date</th>
                        <th>Loan Type</th>
                        <th nowrap>Amount</th>
                        <th>Lender</th>
                        <th nowrap>Reference</th>
                        <th>Status</th>
                        <!-- <th>...</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of loanHistory; let i = index;" [ngClass]="{'red': !data.isCompleted}">
                        <td>{{ (basicTable.nzPageIndex - 1) * basicTable.nzPageSize + i + 1 }}</td>
                        <td nowrap>{{ data.createdDate | date: 'd-MMM-yyyy h:mm a' }}</td>
                        <td>{{ data.loanTypeName || 'N/A' }}</td>
                        <td>{{ data.amount | currency: (data.currency || '&#8358;') }}</td>
                        <td>{{ data.lenderName }}</td>
                        <td>{{ data.referenceNumber }}</td>
                        <td>
                            <nz-tag [nzColor]="data.isCompleted ? '#87d068' : '#f50'">{{ data.isCompleted ? 'Paid' : 'Unpaid' }}</nz-tag>
                        </td>
                        <!-- <td>
                            <button nz-button nzType="primary" (click)="showDetails(data)" nzTooltipTitle="Show Details" [nzTooltipPlacement]="['topLeft', 'leftTop']" nz-tooltip> <i nz-icon nzType="eye"></i> </button>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>

        <nz-tab [nzTitle]="tabTpl3">
            <ng-template #tabTpl3>
                <i nz-icon nzType="medicine-box"></i>
                Search History
            </ng-template>

            <nz-table #borderedTable nzBordered #rowSelectionTable nzShowPagination [nzData]="searchHistory"
                [nzLoading]="loading" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="pagination?.totalCount"
                [nzPageSize]="pageQuery?.pageSize" [nzPageIndex]="pagination?.currentPage || pageQuery.pageNumber"
                (nzQueryParams)="pageChanged($event)">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th nowrap>Date</th>
                        <th>Loan Type</th>
                        <th>Amount</th>
                        <!-- <th>...</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of searchHistory; let i = index;">
                        <td>{{ (basicTable.nzPageIndex - 1) * basicTable.nzPageSize + i + 1 }}</td>
                        <td nowrap>{{ data.createdDate | date: 'd-MMM-yyyy h:mm a' }}</td>
                        <td>{{ data.loanTypeName }}</td>
                        <td>{{ data.amount | currency: (data.currency || '&#8358;') }}</td>
                        <!-- <td>
                            <button nz-button nzType="primary" (click)="showDetails(data)" nzTooltipTitle="Show Details"
                                [nzTooltipPlacement]="['topLeft', 'leftTop']" nz-tooltip> <i nz-icon nzType="eye"></i>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
    </nz-tabset>
</ng-container>