<ng-container>
    <nz-tabset (nzSelectedIndexChange)="tabChanged($event)">
        <nz-tab [nzTitle]="tabTpl1">
            <ng-template #tabTpl1>
                <i nz-icon nzType="user-add"></i>
                Personal Details
            </ng-template>

            <p class="title" style=" margin-bottom: 24px;">User Info: <strong>{{data?.emailAddress}}</strong></p>
            <nz-descriptions [nzColumn]="2" nzTitle="Personal">
                <nz-descriptions-item nzTitle="Full Name" [nzSpan]="1">{{data?.firstName ? data?.firstName + ' ' +
                    data?.lastName : 'N/A'}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">{{data.phoneNumber}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Email" [nzSpan]="1">{{data?.emailAddress || 'N/A'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Gender" [nzSpan]="1">{{data?.gender ? data?.gender : 'N/A'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Birthday / Age" [nzSpan]="1">{{data?.dateOfBirth ? (data?.dateOfBirth |
                    date: 'd-MMM-yyyy') : 'N/A'}} &nbsp; <!-- ({{data?.age || 0}} years) --></nz-descriptions-item>
                <!-- <nz-descriptions-item nzTitle="Current Loan" [nzSpan]="1">{{data?.currentLoan}}
                </nz-descriptions-item> -->
            </nz-descriptions>
            <nz-divider></nz-divider>
        </nz-tab>

        <nz-tab [nzTitle]="tabTpl2">
            <ng-template #tabTpl2>
                <i nz-icon nzType="credit-card"></i>
                Loan History
            </ng-template>

            <nz-table #loanTable nzBordered #rowSelectionTable nzShowPagination [nzData]="loanHistory"
                [nzLoading]="loading" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="pagination?.totalCount"
                [nzPageSize]="pageQuery?.pageSize" [nzPageIndex]="pagination?.currentPage || pageQuery.pageNumber"
                (nzQueryParams)="pageChanged($event)" [nzScroll]="{ x: '185px' }">
                <thead>
                    <tr>
                        <th style="width: 85px;">S/N</th>
                        <th>Date</th>
                        <th>Loan Type</th>
                        <th nowrap>Amount</th>
                        <th>Lender</th>
                        <th nowrap>Reference</th>
                        <th>Status</th>
                        <!-- <th>...</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of loanTable.data; let i = index;">
                        <td>{{ (loanTable.nzPageIndex - 1) * loanTable.nzPageSize + i + 1 }}</td>
                        <td nowrap>
                            {{ data.createdDate | date: 'd-MMM-yyyy' }}
                            <small style="display:block;">{{ data.createdDate | date: 'h:mm a' }}</small></td>
                        <td>{{ data.loanType?.name || 'N/A' }}</td>
                        <td nowrap>{{ data.loanAmount | currency: (data.currencyCode || '&#8358;') }}</td>
                        <td>{{ data.lender?.lenderName }}</td>
                        <td>{{ data.referenceNumber || 'N/A' }}</td>
                        <td>
                            <status-helper [loanStatus]="data.loanStatus"></status-helper>
                        </td>
                        <!-- <td>
                            <button nz-button nzType="primary" (click)="showDetails(data)" nzTooltipTitle="Show Details" nzTooltipPlacement="topRight" nz-tooltip> <i nz-icon nzType="eye"></i> </button>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>

        <nz-tab [nzTitle]="tabTpl3">
            <ng-template #tabTpl3>
                <i nz-icon nzType="medicine-box"></i>
                Search History
            </ng-template>

            <nz-table #searchTable nzBordered #rowSelectionTable nzShowPagination [nzData]="searchHistory"
                [nzLoading]="loading" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="pagination?.totalCount"
                [nzPageSize]="pageQuery?.pageSize" [nzPageIndex]="pagination?.currentPage || pageQuery.pageNumber"
                (nzQueryParams)="pageChanged($event)">
                <thead>
                    <tr>
                        <th style="width: 85px;">S/N</th>
                        <th>Loan Type</th>
                        <th>Amount</th>
                        <th>Retry</th>
                        <th nowrap>Last Trial</th>
                        <!-- <th>...</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of searchTable.data; let i = index;">
                        <td>{{ (searchTable.nzPageIndex - 1) * searchTable.nzPageSize + i + 1 }}</td>
                        <td>{{ data.loanType?.name || 'N/A' }}</td>
                        <td nowrap>{{ data.loanAmount | currency: (data.currencyCode || '&#8358;') }}</td>
                        <td>{{ data.trialCount }} Times</td>
                        <td nowrap>{{ (data.lastTrialDate || data.createdDate) | date: 'd-MMM-yyyy h:mm a' }}</td>
                        <!-- <td>
                            <button nz-button nzType="primary" (click)="showDetails(data)" nzTooltipTitle="Show Details"
                                nzTooltipPlacement="topRight" nz-tooltip> <i nz-icon nzType="eye"></i>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
    </nz-tabset>
</ng-container>