<nz-page-header class="site-page-header">
    <nz-page-header-title>Payment Reference:</nz-page-header-title>
    <nz-page-header-subtitle><strong>{{data?.referenceNumber}}</strong></nz-page-header-subtitle>
    <nz-page-header-tags>
        <nz-tag [nzColor]="data.isCompleted ? 'green' : 'red'">{{ data.isCompleted ? 'Paid' : (data?.status || 'pending') | titlecase }}</nz-tag>
        <!-- <nz-tag nzColor="orange">Abandoned</nz-tag> -->
    </nz-page-header-tags>
    <nz-page-header-extra>
        <!-- <button nz-button>Operation</button>
        <button nz-button>Operation</button> -->
        <button nz-button nzType="primary"><i nz-icon nzType="printer" (click)="print()"></i> Print</button>
    </nz-page-header-extra>
    <nz-page-header-content>
        <nz-row nzType="flex">
            <nz-statistic nzTitle="Amount Due" [nzValue]="((data?.amount || 0) | currency: '&#8358;')!" style="margin-right: 32px"></nz-statistic>
            <nz-statistic nzTitle="Amount Paid" [nzValue]="((data?.amountPaid || 0) | currency: '&#8358;')!" style="margin: 0 32px"></nz-statistic>
            <nz-statistic nzTitle="Currency" [nzValue]="data?.currency" style="margin: 0 32px"></nz-statistic>
            <nz-statistic nzTitle="No of Consultations" [nzValue]="((data?.noOfConsultation || 0) | number)!" [nzPrefix]="prefixTpl" style="margin: 0 32px"></nz-statistic>
            <ng-template #prefixTpl><i nz-icon nzType="medicine-box"></i></ng-template>
        </nz-row>
    </nz-page-header-content>

    <nz-page-header-content>
        <nz-divider></nz-divider>
        <br />
        <nz-descriptions nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="Phone No" [nzSpan]="1">{{data?.phoneNumber}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email" [nzSpan]="1"><a>{{data?.email || 'N/A'}}</a></nz-descriptions-item>

            <nz-descriptions-item nzTitle="Provider" [nzSpan]="1">{{data?.paymentGateway}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Payment Channel" [nzSpan]="1">{{data?.paymentChannel}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Status" [nzSpan]="1">{{(data?.status | titlecase) || 'N/A'}}</nz-descriptions-item>
            
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">{{ data?.createdDate | date: 'd-MMM-yyyy h:mm a' }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Payment Time" [nzSpan]="1">{{ data?.paymentDate ? (data?.paymentDate | date: 'd-MMM-yyyy h:mm a') : 'N/A' }}</nz-descriptions-item>
            
            <nz-descriptions-item nzTitle="Payment Plan" [nzSpan]="2"><a>{{data?.paymentPlanTitle || 'N/A'}}</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Duration" [nzSpan]="1">{{((data?.validityPeriodInMonth || 0) | number)}} Month(s)</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Expiry Date" [nzSpan]="1">{{ data?.expiryDate ? (data?.expiryDate | date: 'd-MMM-yyyy h:mm a') : 'N/A' }}</nz-descriptions-item>
            
            <nz-descriptions-item nzTitle="Narration" [nzSpan]="2">
                {{data?.narration}}
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Status Message" [nzSpan]="2">
                {{data?.responseMessage}}
            </nz-descriptions-item>
        </nz-descriptions>
    </nz-page-header-content>
</nz-page-header>
