<form nz-form [formGroup]="requestForm" (ngSubmit)="onFormSubmit()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Name</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="Name is required!">
            <input nz-input formControlName="name" placeholder="please enter Name" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Enable</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-switch formControlName="isActive"></nz-switch>
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [nzLoading]="loading">Submit</button>
        </nz-form-control>
    </nz-form-item>

</form>
